

.employee {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    position :relative;
    margin : 50% 10% 20% 10%;    
}

.student{
    padding: 10px 7%;
    text-align: center;
    font-size: 20px;
    position :relative;
    margin : 10% 20% 80% 10%;
}

.button{
    width : 25%;
    background-color: darkgray;
    position: fixed;
    margin: 0px;
}

button:hover{
    background-color: powderblue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.grid-container {
    position: fixed;
    top:5%;
    right:10%;
    display : grid;
    grid-gap: 5px;
    padding: 5px;
    background-color: black;
    width: 50%;
}

.grid-container > div {
    border : 1px solid rosybrown;
    background-color: blanchedalmond;
    text-align: center;
    padding: 5%;
    font-size: 100%;
} 

.action{
    grid-column: 4/6;
}

.form{
     
     box-sizing : border-box;
     margin-left: 50%;
     padding-top: 20%;
}
 
#name{
     position :relative;
     box-sizing: content-box;
     border: 3px solid lightblue;
     margin:5% 9% 4% 9%;
}

#id{
    position :relative;
    box-sizing: content-box;
    border: 3px solid lightblue;
    margin:4% 10% 5% 12%;    
}

#area{
    position :relative;
    box-sizing: content-box;
    border: 3px solid lightblue;
    margin:4% 10% 5% 10%;    
}

#addButton{
    position:fixed;
    bottom: 10%;
    right: 0%;
    margin-right: 20%;
    margin-bottom:0%;
    width: 5%;
    font-size: 80%;
}

#addButton:hover{
   background-color: cadetblue;
}

.form h1{
  box-sizing: content-box;
}

body{
    margin-bottom: auto;
    background-color:cadetblue;
}
